{% extends "adminlayout.html.twig" %}

{% block title %}Add an article {% endblock %}

{% block content %}
    <form action="" method="POST" style="display:flex; flex-direction:column;">
        <label for="title">Entrez le titre de l'article</label>
        <input type="text" name="article_title" id="title" placeholder="Entrez le titre de l'article">
        <label for="image">Insérez une image</label>
        <input type="text" name="article_image" id="image" placeholder="Insérez une image">
        <label for="date">Entrez la date</label>
        <input type="date" name="article_date" id="date">
        <label for="content">Entrez le contenu de l'article</label>
        <textarea rows="10" name="article_content" id="content" placeholder="Entrez le contenu de l'article"></textarea>
        <input type="submit" value="Ajouter">
    </form>
{% endblock %}