{% extends "adminlayout.html.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block content %}

    {% for article in articles %}
        <div class = main-container-admin>
            <div class = main-container-admin-1>
                {{ article.date }}
                {{ article.title }}
            </div>

            <div class = main-container-admin-2>
                <button type="button" class="btn btn-primary">Editer</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
            </div>

        </div>
    {% endfor %}

{% endblock %}