{% extends "layout.html.twig" %}

{% block title %}Tous les continents{% endblock %}

{% block content %}
    <div class ="container">
        <div class="row-countries">
            {% for country in countries %}
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ country.image[9:] }}" class="card-img-top" alt="{{ country.name}} landscape">
                        <div class="card-body">
                            <h5 class="card-title">{{ country.name }}</h5>
                            <a href="{{ "/articles/showbycountry/" ~ country.id }}" class="btn btn-primary">Voir les articles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
