<footer class="page-footer font-small blue pt-4 footer">
    <div class="container-fluid text-center text-md-left">
        <div class="footer-links">
            <a href="#!">Copyright</a>
            <a href="#!">Plan du site</a>
            <a href="/contact/index">Nous contacter</a>
            <a href="/admin/login">Admin</a>
        </div>
        <div class="footer-socials">
            <a href="#"><img src="/assets/images/pinterest_logo.png" alt="pinterest_icon" class="socials pinterest_footer"></a>
            <a href="#"><img src="/assets/images/instagram_logo.png" alt="instagram_icon" class="socials instagram_footer"></a>
            <a href="#"><img src="/assets/images/twitter_logo.png" alt="twitter_icon" class="socials twitter_footer"></a>
            <a href="#"><img src="/assets/images/facebook_logo.png" alt="facebook_icon" class="socials facebook_footer"></a>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a class="duo_trotter-link-footer" href="/">Duo Trotter</a>
    </div>
</footer>
