<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="links">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Copyright</a>
                    </li>
                    <li>
                        <a href="#!">Plan du site</a>
                    </li>
                    <li>
                        <a href="#!">Nous contacter</a>
                    </li>
                    <li>
                        <a href="/admin/articlesList">Admin</a>
                    </li>
                </ul>
            </div>
            <div class="social-media-footer">
                <a href="#!"></a><img src="/assets/images/facebook_logo.png" alt="facebook_icon" class="facebook_footer">
                <a href="#!"></a><img src="/assets/images/pinterest_logo.png" alt="pinterest_icon" class="pinterest_footer">
                <a href="#!"></a><img src="/assets/images/instagram_logo.png" alt="instagram_icon" class="instagram_footer">
                <a href="#!"></a><img src="/assets/images/twitter_logo.png" alt="twitter_icon" class="twitter_footer">
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/">Duo Trotter</a>
    </div>
</footer>
