{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="card">
            <h1 class="card-title">About Us</h1>
            <p class="card-body">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p class="card-body">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum congue pulvinar. Maecenas tortor lectus, venenatis et mauris eget, ultrices suscipit justo. Donec gravida felis ipsum, quis porttitor velit cursus at. Praesent sit amet ex ut quam gravida interdum. Sed quis facilisis diam, nec ultrices mi. Donec sollicitudin non nunc sed feugiat. Nullam fermentum finibus libero, a imperdiet massa egestas quis. Duis aliquam consectetur sem nec dignissim. In hac habitasse platea dictumst. Nulla dapibus ligula vitae mauris mattis, ac consectetur magna euismod. Nulla a est iaculis sem posuere sagittis vel at dolor. Morbi convallis ornare risus, non vestibulum diam varius sit amet.</p>
            <p class="card-body">Curabitur porta felis nulla, at varius metus suscipit nec. Morbi a massa non dolor vulputate placerat quis a libero. Suspendisse potenti. Morbi ut porttitor arcu, in rutrum metus. Curabitur auctor fermentum ex, vel pharetra ante condimentum id. Maecenas eu finibus ante, non fermentum felis. Nam pretium risus porttitor euismod egestas. Aenean neque ex, suscipit sit amet nibh vel, luctus egestas risus. Proin dolor diam, consequat id aliquet eget, sagittis nec nisi. Nunc a lobortis arcu. Aliquam erat volutpat.</p>
        </div>
    </div>
{% endblock %}
