.navbar {
    background-color: #085ea5;
}

.main-container-admin{
    display: flex;
    flex-direction: row;
    border : 1px solid grey;
    padding: 4px 0;
    justify-content: space-between;
}

.main-container-admin-1{
    margin : 3px 6px;
    font-size: 15px;
}



.main-container-admin-2{
    margin : 3px 6px;
}


.main-container-add {
    width: 80%;
    text-align: center;
    margin: auto;
}

.main-container-add label {
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

.form-control {
    padding: 1.375rem .75rem !important;
}




@media screen and (max-width: 720px) {
    .main-container-admin {
        display: flex;
        flex-direction: column
    }
}