.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px
}

.header-top h1 {
    margin : 0 10px;
}

.facebook_footer, .pinterest_footer, .twitter_footer, .instagram_footer {
    width: 40px;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 575px) {
    .searchbar {
    display : none;
    }

    .header-top {
        flex-direction: column;
    }

    .general-header {
        display: flex;
        flex-direction: column-reverse;
        border-bottom-style: solid;
        border-bottom: solid 1px black;
        margin-bottom: 7%;
    }

    .general-header .navbar {
        justify-content: flex-end;
    }
    .social-media .facebook, .pinterest, .instagram, .twitter{
        height: 40px;
        margin: 0 10px;

    }

    .biography {
        margin: 7% 0;
    }

    .social-media-footer ul{
        display: flex;
        flex-direction: row;
    }


}

@media screen and (min-width: 576px) {
    .biography {
        display: none;
    }

    .social-media .facebook, .pinterest, .instagram, .twitter{
        display: none;
    }
}



