* {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 20px 30px;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0 20px 10px 20px;
}

.articles-list {
    margin : 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-card {
    max-width: 800px;
    border-radius: 20px;
}

.navbar {
    background-color: #085ea5;
}

.success {
    margin : 50px;
    display : flex;
    justify-content: center;
}


footer {
    background-color: #085ea5;
}

footer .list-unstyled li a {
    color: lightblue;
}

footer .list-unstyled li a:hover {
    color: white;
}

/* date copyright mention */
.footer-copyright {
    color: white;
}

.social-media-footer ul li {
    list-style: none;
}

.duo_trotter-link-footer {
    color:lightblue;
}
.duo_trotter-link-footer:hover{
    color:white;
    font-weight: bold;
}

.facebook_footer, .pinterest_footer, .twitter_footer, .instagram_footer {
    height: 40px;
}

.links {
    /*margin-left: 8%;*/
}

.social-media-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.social-media-footer a {
    margin: 4%;
}

.logo {
    height : 250px;
}


@media screen and (max-width: 575px) {
    .searchbar {
        display : none;
    }

    .header-top {
        flex-direction: column;
    }

    .header-top h1{
        margin-bottom: 7%;
    }

    .general-header {
        display: flex;
        flex-direction: column-reverse;
        border-bottom: solid 1px black;
        margin-bottom: 7%;
    }

    .general-header .navbar {
        justify-content: flex-end;
    }
    .social-media .facebook, .pinterest, .instagram, .twitter{
        height: 40px;
        margin: 0 10px;
    }

    .biography {
        margin: 7% 0;
    }

    .social-media-footer {
        flex-direction: column;
        margin-left : 30%;
    }
}

@media screen and (min-width: 576px) {
    .biography {
        display: none;
    }

    .social-media .facebook, .pinterest, .instagram, .twitter{
        display: none;
    }


    .links {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .list-unstyled {
        justify-content:center;
    }


    .social-media-footer a:hover {
        filter: drop-shadow(2px 2px 4px black);
        transform: scale(1.1, 1.1);
    }


    .general-header{
        background-image: url("/assets/images/banner.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 10;
    }
}
